.centa-tex{
	text-align: center;
	font-family: sans-serif;
	color: white
}

.proj{
	background-color: #FFFFFF;
	border: none;
	padding: 5px;
	text-decoration: none;
	color: black;
	border-radius: 5px;
}

.link{
	color: white;
	text-decoration: none;
}

.cool-box{
	padding: 2px;
	background-color: #FFFFFF;
	border: none;
	color: black;
	
}